<html>

<head>
	<title>Stats</title>
	<meta charset="UTF-8" />
</head>

<body>
	<div id="app"></div>

    <script>
        window.WS_URL = "{{.}}"
    </script>
	<script src="src/index.tsx"></script>
</body>

</html>